<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ProductsList</servlet-name>
        <servlet-class>com.example.gbee1.Product</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsList</servlet-name>
        <!-- Долго выдавал ошибку номер 500 при создании объектов, пока строчкой ниже не сделал url pattern со слешем.
         Если честно, то почему из-за этого вдруг заработало-я так и не понял :(-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>